<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="adsize" content="width:<%= adWidth %>,height:<%= adHeight %>">
        <title><%= adName %> (<%= adWidth %>x<%= adHeight %>)</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="ad">
            <div id="banner" class="MC_animation_playing" data-loop="true" data-loopCount="4">
               <div id="greenBox"></div>
            </div>
        </div>



    <script src="js/EBLoader.js"></script>
    <script src="js/script.js"></script>
    </body>
</html>

